

    <!-- Main -->
    <div class="flex flex-col flex-auto">



        <!-- ------------ Main Content ------------------ -->
        <div class="p-6 sm:p-10 ">

            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden  overflow-y-auto">
                <c-data-table-filters-header [filters]="filters" (filtersChanged)="applyFilter($event)">
                </c-data-table-filters-header>
                <ng-container>
                    <div class="data-grid overflow-x-auto">

                        <div class="data-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>

                            <c-data-table-column title="عنوان" field="title" [(filters)]="filters"
                                (filtersChanged)="applyFilter($event)">
                            </c-data-table-column>
                            <c-data-table-column title="نام یکتا" field="uniqueName" [(filters)]="filters"
                                (filtersChanged)="applyFilter($event)">
                            </c-data-table-column>
                            <c-data-table-column title="پاسخ ها" field="baseValueTypeTitle" [(filters)]="filters"
                                (filtersChanged)="applyFilter($event)">
                            </c-data-table-column>

                            <div class="hidden md:block">

                            </div>
                            <div class="hidden md:block">

                            </div>

                        </div>

                        <ng-container *ngFor="let item of items;">
                            <div class="data-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white">

                                <div class="hidden md:block">
                                    {{item.title}}
                                </div>
                                <div class="hidden md:block">
                                    {{item.uniqueName}}
                                </div>

                                <div class="hidden sm:block">
                                    {{item.baseValueTypeTitle}}
                                </div>




                                <div class="grid-title">

                                </div>
                            </div>

                        </ng-container>

                    </div>


                </ng-container>

                <ng-container *ngIf="pagination.length==0;">
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        هیچ آیتمی تعریف نشده است
                    </div>
                </ng-container>

            </div>

        </div>
    </div>


