<div class="w-full inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full dark:bg-transparent">

        <!-- Drawer -->
        <mat-drawer class="w-full shadow-md dark:bg-gray-900" [mode]="drawerMode" [opened]="addVisible"
            [position]="'end'" [disableClose]="true" #matDrawer>
            <app-add-employee [updateItem]="updateItem" [unitId]="_unitId" (onClose)="closeAdd($event)">
            </app-add-employee>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col border-l">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- ------------ Header ------------------ -->
                <cmpt-page-add-header title="کارمندان " (onShowAdd)="showAdd()" actionPermissionName="role-add">
                </cmpt-page-add-header>

                <!-- ------------ Main Content ------------------ -->
                <div class="p-6 sm:p-10 ">

                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden  sm:overflow-y-auto">

                        <c-data-table-filters-header [filters]="filters" (filtersChanged)="applyFilter($event)">
                        </c-data-table-filters-header>

                        <ng-container>
                            <div class="data-grid overflow-x-scroll">

                                <div class="data-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>
                                    <div></div>

                                    <c-data-table-column title="نام شخص" field="firstName" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>

                                    <c-data-table-column title="جنسیت" field="gender" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>

                                    <c-data-table-column title="شماره شناسنامه" field="nationalCode"
                                        [(filters)]="filters" (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>

                                    <c-data-table-column title="کد پرسنلی" field="employeeCode" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>

                                    <c-data-table-column title="تاریخ تولد" field="birthDate" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>

                                    <c-data-table-column title="سمت/واحد" field="birthDate" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>


                                    <div class="hidden md:block">

                                    </div>
                                    <div class="hidden md:block">

                                    </div>

                                </div>

                                <ng-container *ngFor="let item of items;">
                                    <div class="data-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white">

                                        <div class="hidden md:block" *ngIf="item.personModel.profilePhotoUrl != undifined && item.personModel.profilePhotoUrl != null">
                                            <div class="flex-0 w-10 h-10 rounded-full overflow-hidden">
                                                <img class="w-full h-full object-cover"
                                                    [src]="serverUrl+'/'+item.personModel.profilePhotoUrl">
                                            </div>

                                            <div class="flex-0 w-10 h-10 rounded-full overflow-hidden" *ngIf="item.personModel.profilePhotoUrl == undifined || item.personModel.profilePhotoUrl == null">
                                                <img class="w-full h-full object-cover"
                                                    [src]="'assets/images/avatars/no-avatar.jpg'">
                                            </div>

                                        </div>

                                        <div class="hidden md:block">
                                            {{item.personModel.fullName}}

                                        </div>


                                        <div class="hidden md:block">
                                            {{item.personModel.genderBaseTitle}}
                                        </div>

                                        <div class="hidden sm:block">
                                            {{item.personModel.nationalCode}}
                                        </div>

                                        <div class="hidden sm:block">
                                            {{item.employeeCode}}
                                        </div>
                                        <div class="hidden sm:block">
                                            {{item.personModel.birthDate | jalalidate}}
                                        </div>
                                        <div class="hidden sm:block">
                                            {{item.unitPositionTitle}}
                                        </div>
                                        <div class="grid-title">
                                            <button class="mx-2" mat-icon-button *hasPermission="['employee-edit']"
                                                (click)="editItem(item)">
                                                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>

                                            </button>
                                            <button class=" text-red-500" mat-icon-button
                                                *hasPermission="['employee-delete']" (click)="deleteItem(item)">
                                                <mat-icon svgIcon="heroicons_outline:trash" class="text-red-500">
                                                </mat-icon>

                                            </button>
                                        </div>


                                        <div class="grid-title">

                                        </div>
                                    </div>

                                </ng-container>

                            </div>

                            <mat-paginator
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [length]="pagination.length" [(pageIndex)]="pagination.pageIndex"
                                [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
                                [showFirstLastButtons]="true"></mat-paginator>

                        </ng-container>

                        <ng-container *ngIf="items?.length==0;">
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                هیچ کارمندی تعریف نشده است
                            </div>
                        </ng-container>

                    </div>

                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
