<cmpt-add-edit-side-bar [pageMode]="pageMode" [form]="form" pageName="تبلیغ {{pageTitle}}" (onClose)="cancel()"
    (onSave)="save()">
    <form [formGroup]="form" class="grid grid-cols-3 gap-2">
        <mat-form-field>
            <mat-label>موضوع تبلیغ </mat-label>
            <input matInput [placeholder]="'موضوع را وارد کنید'" formControlName="title" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>تاریخ شروع و پایان </mat-label>
            <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                <input matStartDate formControlName="startDateTime" placeholder="شروع">
                <input matEndDate formControlName="endDateTime" placeholder="پایان">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="form.controls.startDateTime.hasError('matStartDateInvalid')">زمان شروع اشتباه است
            </mat-error>
            <mat-error *ngIf="form.controls.endDateTime.hasError('matEndDateInvalid')">زمان پایان اشتباه است</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>نام کانال یا پیج</mat-label>
            <input matInput [placeholder]="'نام کانال وارد کنید'" formControlName="hostName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>تعداد اعضا </mat-label>
            <input matInput [placeholder]="'تعداد اعضا را وارد کنید'" type="number" formControlName="reputation" />
        </mat-form-field>



        <mat-form-field>
            <mat-label>نوع تبلیغ </mat-label>
            <mat-select placeholder="نوع تبلیغ انتخاب کنید" formControlName="advertisementTypeBaseId">
                <mat-option *ngFor="let item of advertiseTypes$ " [value]="item.id">{{ item.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>میزان هزینه </mat-label>
            <input matInput [placeholder]="'میزان هزینه را وارد کنید'" formControlName="expense" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>شماره سر خط را وارد کنید</mat-label>
            <mat-select placeholder="شماره سر خط انتخاب کنید" formControlName="headLineNumberBaseId">
                <mat-option *ngFor="let item of headLineNumbers$" [value]="item.id">{{ item.title }} - {{item.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>شماره بازخورد </mat-label>
            <input matInput [placeholder]="'شماره بازخورد را وارد کنید'" (change)="isUsableFeedbackNumber(form.get('feedbackNumber').value,form.get('endDateTime').value)" formControlName="feedbackNumber" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>توضیحات </mat-label>
            <input matInput placeholder="توضیحات را وارد کنید" formControlName="descriptions" />
        </mat-form-field>



        <mat-spinner diameter="40" *ngIf="loaderService.isLoading | async"></mat-spinner>


    </form>


</cmpt-add-edit-side-bar>
