<div class="w-full inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <mat-drawer class="w-full sm:w-100 sm:w-128 shadow-md dark:bg-gray-900" [mode]="drawerMode"
            [opened]="addVisible" [position]="'end'" [disableClose]="true" #matDrawer>
            <app-add-branch [updateItem]="updateItem" (onClose)="closeAdd($event)"></app-add-branch>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col border-l">

            <div class="flex flex-col flex-auto">
                <cmpt-page-add-header title="شعب" actionPermissionName="branche-add" (onShowAdd)="showAdd()">
                </cmpt-page-add-header>


                <div class="p-6 sm:p-10 ">

                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden  sm:overflow-y-auto">
                        <c-data-table-filters-header [filters]="filters" (filtersChanged)="applyFilter($event)">
                        </c-data-table-filters-header>
                        <ng-container>
                            <div class="data-grid overflow-x-auto">

                                <div class="data-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>

                                    <c-data-table-column title="عنوان" field="title" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>
                                    <c-data-table-column title="آدرس" field="address" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>
                                    <c-data-table-column title="نقشه" field="map" [(filters)]="filters"
                                        (filtersChanged)="applyFilter($event)">
                                    </c-data-table-column>




                                    <div class="hidden md:block">

                                    </div>
                                    <div class="hidden md:block">

                                    </div>

                                </div>

                                <ng-container *ngFor="let item of items;">
                                    <div class="data-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b bg-white">

                                        <div class="hidden md:block">
                                            {{item.title}}

                                        </div>
                                        <div class="hidden md:block">
                                            {{item.address}}

                                        </div>
                                        <div class="hidden sm:block">

                                        </div>
                                        <div class="grid-title">
                                            <button class="mx-2" *hasPermission="['branche-edit']" mat-icon-button
                                                (click)="editItem(item)">
                                                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>

                                            </button>
                                            <button class=" text-red-500" *hasPermission="['branche-delete']"
                                                mat-icon-button (click)="deleteItem(item)">
                                                <mat-icon svgIcon="heroicons_outline:trash" class="text-red-500">
                                                </mat-icon>

                                            </button>
                                        </div>


                                        <div class="grid-title">

                                        </div>
                                    </div>

                                </ng-container>

                            </div>

                            <mat-paginator
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [length]="pagination.length" [(pageIndex)]="pagination.pageIndex"
                                [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
                                [showFirstLastButtons]="true"></mat-paginator>

                        </ng-container>

                        <ng-container *ngIf="pagination.length==0;">
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                هیچ شعبه ای تعریف نشده است
                            </div>
                        </ng-container>

                    </div>

                </div>


            </div>

        </mat-drawer-content>


    </mat-drawer-container>
</div>