



.data-grid {
    grid-template-columns: 48px  40px;

    @screen sm {
        grid-template-columns: 48px  112px 72px;
    }

    @screen md {
        grid-template-columns: 100px 112px 112px 100px;
    }

    @screen lg {
        grid-template-columns:120px 120px  120px 120px 120px 120px;
    }
    mat-form-field{
        width: 100%;
    }
}

